<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Password Reset</h1>
        <form class="cont" action="/">
            <p>New Password*</p>
            <input type="password" name="New Password" id="email" placeholder="New password">
            <p>confirm Password*</p>
            <input type="password" name="Confirm Password" id="email" placeholder="Confirm password">
            {{!-- <input type="button" value="Reset My password" class="btn"> --}}
            <a href="/page3" id="btn">Reset Password</a>
            <a href="/" id="login">Back to login page</a>
        </form>
    </div>
</body>
</html>